/* ====basic--reset==== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #fff;
  background: url(img/Background\ \(2\).jpg) fixed;
}

/* ===scrollbar--design=== */
::-webkit-scrollbar {
  background-color: black;
  width: 10px;
  height: 0;
  border: 1px solid greenyellow;
}

::-webkit-scrollbar-thumb {
  background-color: greenyellow;
}

/*====Title--hover====*/
.section-title::after {
  position: absolute;
  content: "";
  width: 70px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 3.5rem;
  background-color: greenyellow;
}

.nav__link:hover {
  position: relative;
}

.nav__link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: #adff2f;
}

.active-link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: #adff2f;
}

/*====header--section====*/

.l-header {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: #000;
  box-shadow: 0 5px 10px rgb(255, 255, 255);
  z-index: 100;
}

.bd-grid {
  max-width: 1370px;
  margin: 0;
  padding: 2rem 0rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.nav {
  background: url(img/Background\ \(2\).jpg);
  padding: 1rem;
  border-bottom: 1px solid #fff;
  overflow: hidden;
}

.nav__logo {
  font-weight: bold;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}

.nav__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  right: 0;
}

.nav__item {
  margin-right: 50px;
  font-size: 1.3rem;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav__link:hover {
  color: greenyellow;
}

.nav__toggle {
  display: none;
}

.active-link {
  color: greenyellow;
  position: relative;
}

/* Home Section Styles */

.l-main {
  padding: 4rem 2rem;
}

.home {
  padding: 4rem 0;
}

.home__data {
  text-align: center;
  padding: 2rem;
}

.home__title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.home__title-color {
  color: greenyellow;
}

.button {
  background-color: #adff2f;
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #fff;
}

.home__social {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.home__social-icon {
  margin: 0 1.5rem;
  font-size: 3rem;
  color: #fff;
  transition: color 0.3s ease;
}

.home__social-icon:hover {
  color: blue;
}

.home__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__blob-img {
  width: 400px;
  height: 400px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0px 10px 25px rgba(5, 92, 255, 0.541);
}

/* About Section Styles */

.about {
  padding: 4rem 2rem;
}

.section-title {
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
  color: greenyellow;
  font-size: 2rem;
  font-weight: bold;
}

.about__container {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.about__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my__picture {
  width: 300px;
  height: 400px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: -10px 5px 25px rgba(253, 253, 253, 0.815);
}

.about__subtitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.about__text {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

/* Education Section Styles */

.education {
  padding: 4rem 2rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
}

.education .section-title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

.education__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  justify-content: center;
}

.education__img {
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 0 2rem;
  text-decoration: none;
}

.education__img img {
  width: 100%;
  height: 65%;
  object-fit: cover;
}

.education ol li {
  list-style: none;
}

.education__img ol {
  position: relative;
  width: 100%;
  color: #fff;
  font-size: 1.2rem;
  list-style: none;
  text-align: center;
}


/* Skills Section Styles */

.skills {
  padding: 4rem 2rem;
}

.section-title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.skills__container {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;
}

.skills__subtitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.skills__text {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.skills__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: bolder;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 5px 10px rgba(253, 253, 253, 0.692);
}

.skills__icon {
  font-size: 2rem;
  margin-right: 2rem;
  color: #fff;
}

.skills__names {
  display: flex;
  align-items: center;
}

.skills__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: greenyellow;
  height: 0.25rem;
  border-radius: 0.5rem;
}

.skills__html {
  background-color: greenyellow;
  width: 95%;
}

.skills__css {
  background-color: greenyellow;
  width: 85%;
}

.skills__js {
  background-color: greenyellow;
  width: 65%;
}

.skills__Git {
  background-color: greenyellow;
  width: 90%;
}

.skills__percentage {
  font-size: 1.2rem;
  margin-left: 1rem;
}

.skill__img {
  width: 650px;
  height: 350px;
  margin-top: 4rem;
}

.skills__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  padding: 1rem;
}

/* Contact Section Styles */

.contact {
  padding: 4rem 2rem;
}

.section-title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.contact__container {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.contact__form {
  width: 100%;
  max-width: 350px;
  padding: 2rem;
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 5px 10px rgb(255, 255, 255);
}

.contact__input {
  width: 90%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.contact__input:focus {
  outline: none;
  border-color: #adff2f;
  box-shadow: 0 0 10px rgba(123, 255, 0, 0.5);
}

.contact__button {
  width: 50%;
  padding: 1rem;
  background-color: #adff2f;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.contact__button:hover {
  background-color: #81d600;
}


/* Footer Section Styles */

.footer {
  background: url(img/footer\ img.jpg);
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 1rem 0;
  border-top: 2px solid #fff;
}

.footer__title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.footer__social {
  margin-bottom: 0.5rem;
}

.footer__icon {
  margin: 0 1rem;
  font-size: 1.5rem;
  color: #fff;
  transition: color 0.3s ease;
}

.footer__icon:hover {
  color: #007bff;
}

.footer__copy {
  font-size: 1.2rem;
  color: #ccc;
}


/* Media Queries for Responsiveness */

@media (max-width: 1200px) {

  .home__data {
    padding: 2rem 1rem;
    margin-top: 6rem;
  }

  .home__title {
    font-size: 2.5rem;
  }

  .home__blob-img {
    width: 300px;
    height: 300px;
  }

  .about {
    padding: 4rem 1rem;
  }

  .about__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .my__picture {
    width: 250px;
    height: 350px;
  }

  .education {
    padding: 4rem 2rem;
  }

  .education__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .education__img {
    margin: 0 1rem;
    font-size: 1.1rem;
  }

  .skills {
    padding: 4rem 1rem;
  }

  .skills__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .skill__img {
    width: 500px;
    height: 350px;
  }

  .contact {
    padding: 4rem 1rem;
  }

  .contact__form {
    max-width: 350px;
  }

  .contact__input {
    width: 90%;
  }

  .contact__button {
    width: 60%;
  }
}



@media (max-width: 992px) {
  .nav__logo {
    font-size: 1rem;
  }

  .nav__link {
    font-size: 1rem;
  }

  .section-title {
    font-size: 1.8rem;
  }

  .home__data {
    margin-top: 6rem;
  }

  .home__title {
    font-size: 2rem;
  }

  .home__social-icon {
    font-size: 2rem;
  }

  .button {
    font-size: 1.2rem;
  }

  .section-title {
    font-size: 1.8rem;
  }

  .about__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .about__subtitle {
    font-size: 1.8rem;
  }

  .about__text {
    font-size: 1rem;
  }

  .education .section-title {
    font-size: 1.8rem;
  }

  .education__img ol {
    font-size: 1rem;
  }

  .education__img ol b {
    font-size: 1.2rem;
  }

  .section-title {
    font-size: 1.8rem;
  }

  .skills__subtitle {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .skills__text {
    font-size: 1rem;
  }

  .skill__img {
    width: 450px;
    height: 300px;
  }

  .section-title {
    font-size: 1.8rem;
  }

  .contact__form {
    padding: 1rem;
    width: 250px;
  }

  .contact__input {
    padding: 0.5rem;
  }

  .contact__button {
    padding: 0.5rem;
  }
}


@media (max-width: 768px) {
  .active-link::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 0.10rem;
      left: 0;
      top: 1rem;
      background-color: #adff2f;
    }
  
    .l-header {
      position: fixed;
      padding: 0;
      text-align: center;
    }
  
    .bd-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .nav {
      padding: 0;
      display: none;
      margin:0;
    }
  
    .nav__menu {
      flex-direction: column;
      align-items: start;
    }
    .nav.show {
      display: block;
    }
  
    .nav__logo {
      display: none;
    }
  
    .nav__list {
      flex-direction: row;
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      justify-content: center;
    }
  
    .nav__item {
      margin-left: 0;
      margin-top: 0;
      margin-right: 50px;
    }
  
    .nav__toggle {
      display: block;
      position: absolute;
    }

  .home__data {
    padding: 1rem 0.5rem;
    margin-top: 6rem;
   }

  .home {
    grid-template-columns: repeat(1, 1fr);
   }


  .home__title {
    font-size: 1.8rem;
  }

  .home__blob-img {
    width: 250px;
    height: 250px;
  }

  .home__social {
    margin-top: 1rem;
  }

  .about__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .about {
    padding: 1rem 0.5rem;
  }

  .my__picture {
    width: 200px;
    height: 300px;
  }

  .education {
    padding: 1rem 0.5rem;
  }

  .education__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .education__img {
    margin: 0;
  }

  .education__img img {
    height: 50%;
  }

  .skills {
    padding: 1rem 0rem;
  }

  .skills__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .skills__data {
    flex-direction: column;
    align-items: flex-start;
  }

  .skills__icon {
    margin-bottom: 1rem;
  }

  .skill__img {
    width: 400px;
    height: 300px;
  }

  .contact {
    padding: 1rem 0.5rem;
  }

  .contact__container {
    flex-direction: column;
    align-items: center;
  }

  .contact__form {
    max-width: 200px;
  }

  .contact__input {
    width: 90%;
  }

  .contact__button {
    width: 50%;
  }
}


@media (max-width: 576px) {
  .nav__logo {
    font-size: 1rem;
  }

  .nav__link {
    font-size: 1rem;
  }

  .nav__list {
    padding: 0;
    margin: 0;

  }

  .section-title {
    font-size: 1.5rem;
  }

  .home__title {
    font-size: 1.5rem;
  }

  .home__social-icon {
    font-size: 1.5rem;
  }

  .home__data {
    padding: 1rem 0.5rem;
    margin-top: 6rem;
  }

  .button {
    font-size: 1rem;
  }

  .home__blob-img {
    width: 200px;
    height: 200px;
  }

  .section-title {
    font-size: 1.5rem;
  }

  .about__subtitle {
    font-size: 1.5rem;
  }

  .about__text {
    font-size: 0.8rem;
  }

  .my__picture {
    width: 150px;
    height: 250px;
  }

  .education .section-title {
    font-size: 1.5rem;
  }

  .education__img ol {
    font-size: 0.8rem;
  }

  .education__img ol b {
    font-size: 1rem;
  }

  .section-title {
    font-size: 1.5rem;
  }

  .skills__subtitle {
    font-size: 1.5rem;
  }

  .skills__text {
    font-size: 0.8rem;
  }

  .skill__img {
    width: 350px;
    height: 250px;
  }

  .section-title {
    font-size: 1.5rem;
  }

  .contact__form {
    padding: 0.5rem;
  }

  .contact__input {
    padding: 0.5rem;
  }

  .contact__button {
    padding: 0.5rem;
  }

  .footer {
    padding: 0.5rem 0;

  }

  .footer__title {
    font-size: 1.5rem;
  }

  .footer__icon {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .active-link::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.10rem;
    left: 0;
    top: 1rem;
    background-color: #adff2f;
  }

  .l-header {
    position: fixed;
    padding: 0;
    text-align: center;
  }

  .bd-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .nav {
    padding: 0;
    display: none;
  }

  .nav__menu {
    flex-direction: column;
    align-items: start;
 }

  .nav.show {
    display: block;
  }

  .nav__logo {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    padding: 0;
    margin-right: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }

  .nav__item {
    margin-left: 0;
    margin-top: 0;
    margin-right: 20px;
  }
 .nav__link{
  font-size: 0.6rem;
 }
  .nav__toggle {
    display: block;
    position: absolute;
  }
  .skills__container{
    margin-right: 2rem;
  }
}